<mat-tab-group>
    <mat-tab 
    label="Inicio"
    >
    <h1>Pantalla Inicio</h1>
    </mat-tab>
    <mat-tab
    label="Mascotas"
    >
    <h2>Pantalla de Mascotas</h2>
    <app-tarjetas></app-tarjetas>
    </mat-tab>
   
    <mat-tab     
    label="Adopciones">
    <h2>Pantalla Adopciones</h2> 
    </mat-tab>

    <mat-tab
        label="Voluntarios"
    >
    <h2>Pantalla Voluntarios</h2>

    </mat-tab>

    <mat-tab
        label="Sobre Nosotros"
    >
    <h2>Pantalla Sobre nosotros</h2>
    </mat-tab>

    <mat-tab
        label="Contactos"
    >
    <h2>Pantalla Contactos</h2>
    </mat-tab>
    
</mat-tab-group>