<div class="contenedor">
    <mat-card *ngFor="let adoptante of adoptantes" class="contendorCard">
        
        <mat-card-header>
            <mat-card-title>
              Dueño: {{adoptante.nombre}}
            </mat-card-title>
            <mat-card-subtitle>
               {{adoptante.celular}} - {{adoptante.correo}}
            </mat-card-subtitle>
      </mat-card-header>
        
        <mat-card-content>
            <p>Adopcion de  {{adoptante.nombreMascota}}</p>
        </mat-card-content>
         
    </mat-card>

</div>