<mat-tab-group>
    <mat-tab 
    label="Inicio"
    >
    <app-pantallainicio></app-pantallainicio>
  
    </mat-tab>
    <mat-tab
    label="Mascotas"
    >
    <app-tarjetas></app-tarjetas>
    

    </mat-tab>
   
    <mat-tab     
    label="Adopciones">
    
    <app-adopciones></app-adopciones>
    
    </mat-tab>

    <mat-tab
        label="Voluntarios"
    >
    <h2>Pantalla Voluntarios</h2>
    <app-voluntarios></app-voluntarios>
 

    </mat-tab>

    <mat-tab
        label="Sobre Nosotros"
    >


    </mat-tab>

    <mat-tab
        label="Contactos"
    >
    
    </mat-tab>
    
</mat-tab-group>