<div class="Botones">
   <button mat-button >Prueba Boton</button>
    <button mat-raised-button>Prueba Boton 2</button>
    <button mat-fab>
        <mat-icon>store</mat-icon>
    </button>
   <br>
   <button mat-fab>
    <mat-icon>bolt</mat-icon>
</button>
<button mat-fab>
    <mat-icon>face</mat-icon>
</button>

<button mat-mini-fab>
    <mat-icon>sick</mat-icon>
</button>

<button mat-fab extended>
    <mat-icon>volcano</mat-icon>
    Prueba
</button>
<br>
<button mat-flat-button>Prueba 3</button>
</div>